
  .footerContainer {
    max-width: 1920px;
    display: grid;
    display: inline-grid;
    grid-template-columns: 200px 500px 200px 200px;
    text-align: center;
    align-content: center;
    width: 100%;
    padding-right: 100px;
    background-color: gray;
    color: white;
  }
  
  .footerTwo {
    max-width: 1920px;
    border-right: 3px white solid;
    text-align: left;
  }
  