.Nav{
    text-align: center;
    width: 10%;
  }
  
  .blank{
      width:40%
  }
  
  
  
  
  .Footer{
      background-color: black;
      color:white;
      
  
  }
  
  .container {
    display: grid;
    display: inline-grid;  
    grid-template-columns:  1fr 1fr 1fr 1fr 1.5fr 1fr 1fr;
    text-align: center;
    align-content: center;
    width:100%;
    padding-right:100px;
    
  }
  
  
  
  .container .item {
    background: white;
  }
  .container .item p {
    padding: .25rem .75rem;
  }
  .footerContainer{
  display: grid;
  display: inline-grid;  
  grid-template-columns:  200px 500px 200px 200px;
  text-align: center;
  align-content: center;
  width:100%;
  padding-right:100px;
  background-color: gray;
  color: white;
  }
  
  .footerTwo{
    border-right: 3px white solid;
    text-align: left;
  }