.Nav{
  text-align: center;
  width: 10%;
}

.blank{
    width:40%
}




.Footer{
    background-color: black;
    color:white;
    margin-top: 50px;
    

}

.container {
  display: grid;
  display: inline-grid;  
  grid-template-columns:  1fr 1fr 1fr 1fr 1.5fr 1fr 1fr;
  text-align: center;
  align-content: center;
  width:1203px;
  padding-right:0;
  
}


.topBanner{
  text-align: center;
  margin-top: 20px;
}

.content{
text-align: center;

}

.basicTest{
  display: grid;
  display: inline-grid;  
  grid-template-columns:  1fr 1fr 1fr;
  text-align: center;
  align-content: center;
  width:70%;
    padding:20px;
  margin:20px;


}

.item{
  background-color: #E9CF47;
  padding: 20px;
  margin:20px;
}


.notice{
  display: grid;
  display: inline-grid;  
  grid-template-columns:  1fr 1fr 1fr;
  text-align: center;
  align-content: center;
  width:70%;
  padding:20px;
  margin:20px;

}

.community{
  display: grid;
  display: inline-grid;  
  grid-template-columns:  1fr 1fr;
  text-align: center;
  align-content: center;
  width:70%;
   padding:20px;
  margin:20px;

}

.footerContainer{
display: grid;
display: inline-grid;  
grid-template-columns:  2fr 3fr 2fr 2fr;
text-align: center;
align-content: center;
width:100%;
padding-right:100px;
background-color: gray;
color: white;
}

.footerTwo{
  border-right: 3px white solid;
  text-align: left;
}