.Nav{
    text-align: center;
    width: 10%;
  }
  
  .blank{
      width:40%
  }
  
  
  
  
  .Footer{
      background-color: black;
      color:white;
      
  
  }
  
  .container {
    display: grid;
    display: inline-grid;  
    grid-template-columns:  1fr 1fr 1fr 1fr 1.5fr 1fr 1fr;
    text-align: center;
    align-content: center;
    width:100%;
    padding-right:100px;
    
  }
  
  
  .topBanner{
    text-align: center;
  }
  
  .content{
  text-align: center;
  
  }
  
  .basicTest{
    display: grid;
    display: inline-grid;  
    grid-template-columns:  1fr 1fr 1fr;
    text-align: center;
    align-content: center;
    width:70%;
    background-color:#EEC906;
    padding:20px;
    margin:20px;
  
  }
  
  .notice{
    display: grid;
    display: inline-grid;  
    grid-template-columns:  1fr 1fr 1fr;
    text-align: center;
    align-content: center;
    width:70%;
    background-color:#E9CF47;
    padding:20px;
    margin:20px;
  
  }
  
  .community{
    display: grid;
    display: inline-grid;  
    grid-template-columns:  1fr 1fr;
    text-align: center;
    align-content: center;
    width:70%;
    background-color:#FCDE44;
    padding:20px;
    margin:20px;
  
  }
  
  .footerContainer{
  display: grid;
  display: inline-grid;  
  grid-template-columns:  200px 500px 200px 200px;
  text-align: center;
  align-content: center;
  width:100%;
  padding-right:100px;
  background-color: gray;
  color: white;
  }
  
  .footerTwo{
    border-right: 3px white solid;
    text-align: left;
  }