  .Fcontent {
    margin-top: 50px;
    background-color: #FFFACB;
    border-radius: 10px;
   width:70%;
   display: inline-block;
   padding-top: 50px;
   padding-bottom: 100px;
   margin-left: 15%;
   margin-right: 15%;
   height: 900px;
 
  
  
  }

  #table {
    display: flex;
    justify-content: center;
   
  }
  
  .Ftable{
   border-top: 3px solid black;
   border-bottom: 3px solid black;
   width: 1140px;
   text-align: center;
   margin-left: 0px;

  
  
  
  }
  
  
  .FselectBox{
    padding:50px;
    text-align:center;
    
  }



/*태그 css */





h3{
  font-size: 30px;
  font-family: "Nanum Square EB";
  text-align: center;
}






  
button {
    width: 60px;
height: 60px;
border-radius: 5px;
background-color: #fffacb;
border: 3px solid #fdf06d;
font-size: 25px;
margin: 10px;

  }


  table{
    font-size: 30px;
    font-family: "Nanum Square EB";
   
  }

  thead{
    padding-top:20px;
    padding-bottom:20px;

  }

  th{
    height : 40px;
    padding-bottom: 10px;
    border-bottom:1px solid white;
  }

  tbody{
    font-size: 25px;
    font-family: Nanum Square B;
    padding-top:20px;
    padding-bottom:20px;

  }

  td{
    padding-top:20px;
    padding-bottom:20px;
    border-bottom: 1px solid gray;  
  }
