  .Fcontent {
   
 
  
  
  }

  #table {
    display: flex;
    justify-content: center;
   
  }
  

  
  
  .FselectBox{
    padding:50px;
    text-align:center;
    
  }



/*태그 css
  내부의 태그도 이용 가능

  부모가 속한 태그 / 클래스 or id  / 선택하고자 하는 태그
  div  //   .FselectBox  or #entire   //    span

*/



.FnoticeH {
  font-size: 30px;
  font-family: "Nanum Square EB";
  text-align: center;
  margin-top: 120px;
  margin-bottom: 120px;
}






  
div .FselectBox button {
    

  }


 
