.smallBoxFirst{
      
  width: 400px;
  height: 300px;
  border-radius: 50px;
  background-color: #ffd265;
  margin: 10px;
  margin-bottom: 39px;
  box-shadow: 30px 30px 20px #ccc;
  
}
.smallBoxFirst:hover{
  box-shadow: 5px 5px 20px #ccc;
  transition: box-shadow 0.3s linear;
}

.smallBox{
      
  width: 400px;
  height: 300px;
  border-radius: 50px;
  background-color: #fdf06d;;
  margin: 10px;
  margin-bottom: 39px;
  box-shadow: 30px 30px 20px #ccc;
  
}

.smallBox:hover{
  box-shadow: 5px 5px 20px #ccc;
  
  transition: box-shadow 0.3s linear;
}

.rightDown{
  font-size: 37px;
  font-family: "Nanum Square B";
  padding-top: 50px;
  padding-right: 20px;
  text-align: right;

  
}

.smallBoxLast{
    margin-left: 50px;
    width: 625px;
    height: 300px;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    background-color: #fdf06d;
    box-shadow: 30px 30px 20px #ccc;
    margin: 20px;
}

.smallBoxLast:hover{
  box-shadow: 5px 5px 20px #ccc;
  
  transition: box-shadow 0.3s linear;
}
.middleTitle{
  margin-top: 159px;
  margin-bottom: 109px;
}
.topBanner {
  margin-top: 50px;
    max-width: 1920px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


.content {
    text-align: center;
}

.bigBox {
  display: grid;
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  align-content: center;
 
}
.bigBox2 {
  display: grid;
  display: inline-grid;
  grid-template-columns:  1fr 1fr ;
  text-align: center;
  align-content: center;
  margin-bottom: 100px;

}

.shoot{
  text-align: left;
  margin-top: 114px;
  margin-left: 89px;
  font-size: 25px;
  color: #000000;
  font-family: "Nanum Square EB";
}
.shoot2{
  text-align: left;
  margin-top: 106px;
  margin-left: 56px;
  font-size: 25px;
  color: #000000;
  font-family: "Nanum Square EB";
}

.shootDetail{
  margin-left: 89px;
  text-align: left;
}