.smallBox{
    
	width: 400px;
	height: 300px;
	border-bottom-left-radius: 70px;
	border-bottom-right-radius: 30px;
	border-top-left-radius: 70px;
	border-top-right-radius: 70px;
	background-color: #ffd265;
    margin: 20px;
}
.smallBoxLast{
    margin-left: 50px;
    width: 625px;
	height: 300px;
	border-bottom-left-radius: 70px;
	border-bottom-right-radius: 30px;
	border-top-left-radius: 70px;
	border-top-right-radius: 70px;
	background-color: #ffd265;
    margin: 20px;
}
.topBanner {
  max-width: 1920px;
  text-align: center;
}

.content {
  text-align: center;
}

.bigBox {
  display: grid;
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  align-content: center;
  width: 70%;
  padding: 20px;
  margin: 20px;
}