 
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .menu-container {
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
  }
  
  .container:hover{
    box-shadow: 5px 5px 20px #ccc;
    transition: box-shadow 0.3s linear;
    border-radius: 70px;
  }
  .menu-trigger {
    background-color: rgb(43, 226, 89);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 32px;
    font-size: 30px;
    border: none;
    vertical-align: middle;
    transition: box-shadow 0.4s ease;
    margin-left: auto; /* Strictly for positioning */
  }

  
  .menu-trigger span {
    vertical-align: middle;
    font-size: 25px;
    margin: 0 10px;
  }
  
  
  .menu {
    background: #ffffff;
    border-radius: 8px;
    position: absolute;
    top: 60px;
    right: 0;
    width: 300px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
  }
  
  .menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 2;
    position: relative;
  }
  
  .menu li {
    border-bottom: 1px solid #dddddd;
    z-index: 2;
    position: relative;
  }
  
  .menu li a {
    z-index: 2;
    position: relative;
    text-decoration: none;
    color: #333333;
    padding: 15px 20px;
    display: block;
  }
  
  .slick-list{
    z-index: -1;
  }