.Header {
    margin-bottom: 0;
    font-size: 27px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 5px;
  }
  
  .container {
    display: grid;
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1.5fr 1fr 1fr;
    text-align: center;
    align-content: center;
    width: 1203px;
    padding-right: 0;
  }
  
  .topBanner {
    text-align: center;
    margin-top: 20px;
  }
  
  .start {
    width: 70%;
    text-align: center;
    margin-left: 15%;
    margin-bottom: 100px;
  }
  
  .content {
    text-align: center;
    background-color: #fee5a8;
    margin: 0auto;
  }
  
  .basicTest {
    display: grid;
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    align-content: center;
    width: 80%;
    padding: 20px;
    margin: 20px;
    justify-content: center;
  }
  
  .item {
    background-color: white;
    padding: 10px;
    margin: 20px;
    border: 3px solid #fcd165;
    width: 80px;
  }
  
  .register {
    margin-bottom: 50px;
    background-color: #fee5a8;
  }
  
  .community {
    display: grid;
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    align-content: center;
    width: 70%;
    padding: 20px;
    margin: 20px;
  }
  
  #ekffur {
    width: 50%;
    text-align: center;
    margin-left: 25%;
    size: 600px;
  }
  
  .selectDay {
    display: grid;
    display: inline-grid;
    grid-template-columns: 50px 200px 50px 100px;
    text-align: center;
    align-content: center;
    width: 70%;
    padding: 20px;
    margin: 20px;
  }
  
  .footerContainer {
    display: grid;
    display: inline-grid;
    grid-template-columns: 2fr 3fr 2fr 2fr;
    text-align: center;
    align-content: center;
    width: 100%;
    padding-right: 100px;
    background-color: #424242;
    color: white;
  }
  
  .footerTwo {
    border-right: 3px white solid;
    text-align: left;
  }