.basicTitle{
  align-content: center;
  margin-top: 160px;
  text-align: center;
  margin-bottom: 108px;
  font-size: 30px;
  color: #000000;
  font-family: "Nanum Square EB";
}

.margin270{
  margin-left: 270px;
}
.margin230{
  margin-left: 230px;
}
.clicked {
  background-color:#ffd265
}

.basicList :visited{
  background-color:#ffd265
}
.basic2{
  margin-right: 40px;
  border-radius: 15px;
  background-color: #ffffff;
  border: 3px solid #ffd265;
  font-size: 25px;
  color: #000000;
  font-family: "Nanum Square EB";
  
  padding-right: 69px;
  padding-left: 69px;
  padding-bottom: 38px;
  padding-top: 38px;
}

.basic3{
  margin-right: 40px;
  border-radius: 15px;
  background-color: #ffffff;
  border: 3px solid #ffd265;
  font-size: 25px;
  color: #000000;
  font-family: "Nanum Square EB";
  
  padding-right: 57px;
  padding-left: 57px;
  padding-bottom: 38px;
  padding-top: 38px;
}

.basic4{
  margin-right: 40px;
  border-radius: 15px;
  background-color: #ffffff;
  border: 3px solid #ffd265;
  font-size: 25px;
  color: #000000;
  font-family: "Nanum Square EB";
  
  padding-right: 46px;
  padding-left: 46px;
  padding-bottom: 38px;
  padding-top: 38px;
}

.basic6{
  margin-right: 40px;
  border-radius: 15px;
  background-color: #ffffff;
  border: 3px solid #ffd265;
  font-size: 25px;
  color: #000000;
  font-family: "Nanum Square EB";
  
  padding-right: 23px;
  padding-left: 23px;
  padding-bottom: 38px;
  padding-top: 38px;

  
}
.qqwe{
  
  text-decoration: none;
  color: black;
  padding-left: 90px;
  padding-right: 8px;
  padding-bottom: 47px;
}
.basicList{
  margin-left: auto;
  margin-right: auto;
}
.assessLinkBox{
  margin-top: 50px;
  margin-bottom: 59px;
  text-align: center;
  
}
.assessLink{
  font-size: 25px;
  color: #000000;
  font-family: "Nanum Square EB";
  margin-right: 35px;
  margin-left: 35px;
  text-decoration: none;
  
}

.bigCalendar{
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 50px;
  padding-bottom: 100px;
  background-color: white;
  border-radius: 80px;
}

.assessBox{
  width: 1400px;
  height: 1200px;
  border-radius: 80px;
  background-color: #ffd265;

  padding-top: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 39px;

}



.assessText{
  margin-left: auto;
  margin-right: auto;
  width: 330px;
  text-align: center;
  align-content: center;
  font-size: 30px;
  font-size: 30px;
  color: #000000;
  font-family: "Nanum Square B";
}

.assessForm{
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  text-align: center;
}


.rbc-toolbar-label{
  font-size: 40px;
  color: #000000;
  font-family: "Nanum Square EB";
}

.rbc-toolbar-side{
  font-size: 30px;
  color: #8e8e8e;
  font-family: "Nanum Square EB";
}