.Yentire{
    background-color:#f7e4b8 ;
    width: 1280px;
    height: 510px;
    border-radius: 50px;
    margin-left: auto;
    margin-right:auto;
    text-align: center;
    height: auto;
    padding-bottom: 100px;
    margin-bottom: 50px;
}


.YpeopleCheck{
    margin-top: 160px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 50px;
      margin-right: 900px ;
    font-size: 30px;
    color: #000000;
    font-family: "Nanum Square EB";
    text-align: left;

}



.YcurrentConfirm {
       margin-bottom: 108px;
       margin-left: 50px;
    font-size: 30px;
    color: #000000;
    font-family: "Nanum Square EB";
    border-collapse: collapse;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
        text-align: center;
        width:1180px;
        height: auto;


}

.YselectBox{
    text-align: center;
    margin-bottom: 100px;
}

.Ycontainer {
    display: grid;
    grid-template-columns: 15px 15px 15px 15px 15px ;
    text-align: center;
    margin-left: 700px;
    padding:50px;

}