.Rcontent{
    background-color: #fff6e1;
    width: 69%;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 10px;
    margin-bottom: 200px;
    padding-bottom: 100px;
      
}

.Rresult{
    width: 80%;
    text-align: center;
    
    background-color:#ffe4a2;
   display: grid;
  grid-template-columns:330px 330px 330px 130px;
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
    margin-left: 10%;
      margin-right: 10%;
     margin-bottom: 20px;
   height: 70px;
    border: 1px solid #000000;}

div .Rresult span{
    border-left: 2px solid black;
    border-right: 2px solid black;
}

#abc{
    text-align: right;
    margin-left: auto;
    float: right;
    padding: 20px;
    font-size: 25px;
    color: #797979;
    font-family: "Nanum Square EB";
}