.scale {
    /* hide radio button */
    position: fixed;
    left: 100%;
    top: 100%;
  }
.button {
    display:inline-block;
    padding: 15px;
    margin: 0px 30px 0px 0px;
    font-size: 20px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    cursor: pointer;
    width: 180px;
    height: 100px;
    border-radius: 30px;
    background-color: #ffffff;
    border: 3px solid #ffd265;
    text-align: center;
    
    
}
.button:hover {
  color: black;
}
.scale:checked + label {  
  /* selected styled */
  background-color: #ffd265;
  color: black;
  text-shadow: 1px 1px 3px #8e8e8e;
}

