#Footer {
  width:100%;
  height: 200px;
}


  .footerContainer {
    background-color: rgb(65,65,65,255);
    font-size: 25px;
    color: #ffffff;
    font-family: "Nanum Square B";
    list-style-type: none;
    height: 200px;
    padding-top: 100px;
    padding-left: 300px;
    margin-top: 70px;
    margin-bottom: 0;

  }
  
  .footerTwo {
    max-width: 1920px;
    display: grid;
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    align-content: center;
    width: 100%;
    
    
  }
  
  .footer1 {
    display: inline-block;
    padding-left: 200px;
  }
  .footer2 {
    display: inline-block;
    padding-left: 200px;
  }
  .footer3 {
    display: inline-block;
    padding-left: 200px;
  }
  .footer4 {
    display: inline-block;
    padding-left: 200px;
  }
