
  .footerContainer {
    background-color: #414141;
    font-size: 18px;
    list-style-type: none;
    
    height: 60px;
    color:white
    
  }
  
  .footerTwo {
    max-width: 1920px;
    display: grid;
    display: inline-grid;
    grid-template-columns: 200px 500px 200px 200px;
    text-align: center;
    align-content: center;
    width: 100%;
    padding-right: 100px;
    
  }
  
  .footer1 {
    display: inline-block;
    padding-left: 200px;
  }
  .footer2 {
    display: inline-block;
    padding-left: 400px;
  }
  .footer3 {
    display: inline-block;
    padding-left: 200px;
  }
  .footer4 {
    display: inline-block;
    padding-left: 200px;
  }
