
@font-face {
  font-family: "NanumSquareEB";       
  src: url("./../../font/NanumSquareEB.ttf"); 
}
@font-face {
  font-family: "NanumSquare_acB";       
  src: url("./../../font/NanumSquare_acB.ttf"); 
}
@font-face {
  font-family: "NanumSquare_acEB";       
  src: url("./../../font/NanumSquare_acEB.ttf"); 
}
@font-face {
  font-family: "NanumSquare_acL";       
  src: url("./../../font/NanumSquare_acL.ttf"); 
}
@font-face {
  font-family: "NanumSquare_acR";       
  src: url("./../../font/NanumSquare_acR.ttf"); 
}
@font-face {
  font-family: "NanumSquareB";       
  src: url("./../../font/NanumSquareB.ttf"); 
}
@font-face {
  font-family: "NanumSquareL";       
  src: url("./../../font/NanumSquareL.ttf"); 
}
@font-face {
  font-family: "NanumSquareR";       
  src: url("./../../font/NanumSquareR.ttf"); 
}



.titleBar{
  width: auto;
	height: 70px;
	text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(43, 226, 89);
  padding-top: 20px;
}
.titleName{
	width: 226px;
	height: 31px;
	font-family: "NanumSquareEB";
	color: #000000;
	font-size: 25px;
	font-weight: 400;
	text-align: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.mainMenu {
  display: grid;
  grid-template-columns: 14% 14% 14% 14% 14% 14%;
  text-align: center;
  font-size: 25px;
  padding-left: 14%;
  height: 70px;
  background-color: rgb(43, 226, 89);
}



.text-link{
  font-family: "Nanum Square B";
  text-decoration: none;
  color: black;
  padding-bottom: 20px;
  cursor: pointer;
  border-radius: 70px;
}


.headerWrap{
  min-height: 1258px;
}