.titleBar{
  width: 100%;
	height: 45px;
	text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(43, 226, 89);
  padding-top: 20px;
}
.titleName{
	width: 226px;
	height: 22.5px;
	font-family: NanumSquareEB;
	color: #000000;
	font-size: 20px;
	font-weight: 900;
	text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.mainMenu {
  display: grid;
	font-family: NanumSquareEB;
  grid-template-columns: 14% 14% 14% 14% 14% 14%;
  text-align: center;
  font-size: 18.75px;
  padding-left: 14%;
  height: 45px;
  background-color: rgb(43, 226, 89);
	font-weight: 400;

  
}
.text-link{
  text-decoration: none;
  color: black;
  padding-bottom: 20px;
  cursor: pointer;
}