.titleBar{
  width: auto;
	height: 70px;
	text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(43, 226, 89);
  padding-top: 20px;
}
.titleName{
	width: 226px;
	height: 31px;
	font-family: NanumSquareEB;
	color: #000000;
	font-size: 25px;
	font-weight: 400;
	text-align: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.mainMenu {
  display: grid;
  grid-template-columns: 14% 14% 14% 14% 14% 14%;
  text-align: center;
  font-size: 25px;
  padding-left: 14%;
  height: 70px;
  background-color: rgb(43, 226, 89);
}
.text-link{
  text-decoration: none;
  color: black;
  padding-bottom: 20px;
  cursor: pointer;
}

.headerWrap{
  min-height: 1214px;
}