
@font-face {
  font-family: "NanumSquareEB";       
  src: url("./../../font/NanumSquareEB.ttf"); 
}
@font-face {
  font-family: "NanumSquare_acB";       
  src: url("./../../font/NanumSquare_acB.ttf"); 
}
@font-face {
  font-family: "NanumSquare_acEB";       
  src: url("./../../font/NanumSquare_acEB.ttf"); 
}
@font-face {
  font-family: "NanumSquare_acL";       
  src: url("./../../font/NanumSquare_acL.ttf"); 
}
@font-face {
  font-family: "NanumSquare_acR";       
  src: url("./../../font/NanumSquare_acR.ttf"); 
}
@font-face {
  font-family: "NanumSquareB";       
  src: url("./../../font/NanumSquareB.ttf"); 
}
@font-face {
  font-family: "NanumSquareL";       
  src: url("./../../font/NanumSquareL.ttf"); 
}
@font-face {
  font-family: "NanumSquareR";       
  src: url("./../../font/NanumSquareR.ttf"); 
}

.POhTwo {
    font-size: 30px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  font-family: "Nanum Square EB";
  }
  
  .POhThree {
    width:1140px;
    text-align: left;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 30px;
    font-family: "Nanum Square EB";
  
  }
  .titleTopBar{
      color: black;
      size:  5px;
      border-color: black;
      font-size: 30px;
  }
  
  .POcontent {
    background-color: #FFFACB;
    box-shadow: 15px 15px 15px #ccc;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 40px;

    padding-left: 80px;
    padding-right: 80px;
    padding-top: 70px;
    padding-bottom: 70px;
    
    height: 960px;
    font-size: 25px;
    border-radius: 100px;
    font-family: "Nanum Square B";
  }
  .titlebuttonBar{
        margin-bottom: 50px;
  }
  
  .POmoveNext {
    border-top: 1px solid #c4c4c4;
    align-content: center;
    font-size: 25px;
    font-family: "Nanum Square B";
    text-align: left;
    padding-left: 40px;
    display: grid;
    grid-template-columns: 420px 1fr;
    height: 75px;
    margin-left: 22%;
    
    margin-right: 20%;
  }
  
  .POmovePrevious {
     
     border-bottom: 1px solid #c4c4c4;
     font-size: 25px;
     font-family: "Nanum Square B";
     text-align: left;
     padding-left: 40px;
     padding-bottom: 20px;
     display: grid;
     grid-template-columns: 420px 1fr;
     margin-bottom: 40px;
     
    margin-left: 22%;
    margin-right: 20%
  
  }
  .postEditBtn{
    width: 100px;
    height: 60px;
    border-radius: 5px;
    background-color: #fffacb;
    border: 3px solid #fdf06d;
    margin-right: 57px;
    margin-left: 20%;
    font-size: 25px;
    color: #000000;
    font-family: "Nanum Square B";
  }

  .postDeleteBtn{
    margin-left: 20%;
    width: 100px;
    height: 60px;
    border-radius: 5px;
    background-color: #fffacb;
    border: 3px solid #fdf06d;
    font-size: 25px;
    color: #000000;
    font-family: "Nanum Square B";

  }
  .postDeleteBtn:hover{
    box-shadow: 15px 15px 15px #ccc;
    transition: box-shadow 0.3s linear;
  
  }
  .editDelete{
    margin-bottom: 50px;
    text-align: center;
    margin-left: 30%;
  }

  .BackToList{
    font-size: 25px;
    margin-left: 72%;
    width: 130px;
    height: 60px;
    border-radius: 5px;
    background-color: #fffacb;
    border: 3px solid #fdf06d;
    
  }
  .BackToList:hover{
    box-shadow: 15px 15px 15px #ccc;
    transition: box-shadow 0.3s linear;
  }
.PObutton{
  margin-left: 1400px;
  width: 130px;
  height: 60px;
  border-radius: 5px;
  background-color: #fffacb;
  border: 3px solid #fdf06d;
  font-size: 25px;
  font-family: "Nanum Square B";
  box-shadow: 15px 15px 15px 15px #ccc;
  }

  .commentBox{
    border-radius: 30px;
    width: 960px;
    min-height: 200px;
    height: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    background-color:  #fffacbb8;
    box-shadow: 15px 15px 15px #ccc;
  }
.commentList{
  padding-top: 30px;
  width: 80%;
  margin: 10%;
}
  .commentInput{
    width: 500px;
    font-size: 25px;
    margin-right: 100px;
    margin-top: 40px;
  }
  .commentTr{
    
    margin: 30px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    grid-template-columns: 1fr 1fr;
  }
  .commentTh{
    
  }
  .commentBtn{
    border-radius: 5px;
    background-color: #fffacb;
    border: 3px solid #fdf06d;
    font-size: 25px;
  }
  .commentBtn:hover{
    box-shadow: 15px 15px 15px #ccc;
    transition: box-shadow 0.3s linear;
  }

  .commentContent{
    
    border-bottom : 2px solid gray;
    margin-right: 400px;
    font-size: 25px;
  }
  .commentHr{
    size: 5px;
    width: 800px;
  }
  .commentName{
    width: 227px;
    border-bottom : 2px solid gray;
    font-size: 25px;
  }

  .commentInputBox{
    text-align: center;
    height: 100px;
    background-color: #fffacb;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    box-shadow: 15px 15px 15px #ccc;
  }